# Control Plane Environment Variables

# App
PORT=3000
NODE_ENV=development

# Database
# Local Neon Proxy: postgres://postgres:postgres@db.localtest.me:5432/main
# Neon Production: postgres://user:pass@ep-lucky-shape-123456.us-east-1.aws.neon.tech/neondb?sslmode=require
DATABASE_URL=postgres://postgres:postgres@db.localtest.me:5432/main

# Neon Provider (Required for tenant provisioning)
NEON_API_KEY=
NEON_PROJECT_ID=
NEON_DEFAULT_DB=neondb # Optional: defaults to neondb or inferred from DATABASE_URL
