@import "tailwindcss";
@plugin "../hero";

@source "../../../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}";
@source "../../../packages/assets/src/**/*.{js,ts,jsx,tsx}";
@custom-variant dark (&:is(.dark *));

html {
  scroll-behavior: smooth;
}
