@import "tailwindcss";
@plugin "../hero";

@source "../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}";
@source "../../../packages/assets/src/**/*.{js,ts,jsx,tsx}";
@source "../../../packages/ui/src/**/*.{js,ts,jsx,tsx}";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-primary: var(--primary-color, #34D399);
}

html {
  scroll-behavior: smooth;
}
