name: Coverage

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  coverage:
    name: Run Coverage
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:17
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: main
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version-file: ".bun-version"

      - name: Setup Turbo Remote Caching
        uses: rharkor/caching-for-turbo@v2.3.5

      - name: Install dependencies
        run: bun install --frozen-lockfile

      - name: Set DATABASE_URL
        run: echo "DATABASE_URL=postgres://postgres:postgres@localhost:5432/main" >> $GITHUB_ENV

      - name: Enable PostgreSQL extensions
        run: |
          psql ${{ env.DATABASE_URL }} -c "CREATE EXTENSION IF NOT EXISTS \"uuid-ossp\";"
          psql ${{ env.DATABASE_URL }} -c "CREATE EXTENSION IF NOT EXISTS pg_stat_statements;"

      - name: Build utils package
        run: bun run build --filter=@vendin/utils

      - name: Run database migrations
        run: bun run db:migrate --filter=@vendin/control-plane
        env:
          DATABASE_URL: ${{ env.DATABASE_URL }}

      - name: Run test coverage
        run: bun run test:coverage
        env:
          DATABASE_URL: ${{ env.DATABASE_URL }}

      - name: Upload coverage to Codacy
        uses: codacy/codacy-coverage-reporter-action@v1
        with:
          project-token: ${{ secrets.CODACY_PROJECT_TOKEN }}
          coverage-reports: apps/control-plane/coverage/lcov.info,apps/marketing/coverage/lcov.info,apps/storefront/coverage/lcov.info,apps/tenant-instance/coverage/lcov.info,packages/medusa/plugins/medusa-plugin-bling/coverage/lcov.info,packages/utils/coverage/lcov.info
